.footer__columns {
    display: flex;
    justify-content: space-between;
  }


  @media screen and (max-width: 950px) {
      .footer__columns {
          flex-direction: column;
          margin-left: 10px;
      }
  }