@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__social-icon/header__social-icon.css);
@import url(./__social-icons/header__social-icons.css);
@import url(./__inner-wrapper/header__inner-wrapper.css);


.header {
    width: 100%;
    min-height: 24px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}