@import url(./__exchange/cripto-grid__exchange.css);
@import url(./__free/cripto-grid__free.css);
@import url(./__multi/cripto-grid__multi.css);
@import url(./__text/cripto-grid__text.css);
@import url(./__tokens/cripto-grid__tokens.css);
@import url(./__roadmap/cripto-grid__roadmap.css);




.cripto-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 220px 275px 155px 275px 440px;
    margin: 0 80px;
    grid-gap: 10px;
    grid-template-areas: 
    "text multi"
    "free multi"
    "free tokens"
    "roadmap tokens"
    "roadmap exchange"
    ;
}