.header__link {
    font-size: 16px; 
    line-height: 20px;
    color: #1F2431; 
    text-decoration: none; 
    list-style: none; 
}

.header__link:hover { 
    opacity: .5; 
}
/*
@media (min-width: 390px) and (max-width: 450px){ 
    .header__link {
        font-size: 12px; 
        line-height: 16px;
    }
}
*/
@media (max-width: 450px) { 
    .header__link {
        font-size: 10px; 
        line-height: 16px;
    }
}
