@import url('./__button/footer__button.css');
@import url('./__column-email/footer__column-email.css');
@import url('./__column-link/footer__column-link.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__column/footer__column.css');
@import url('./__columns/footer__columns.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__drop/footer__drop.css');
@import url('./__form/footer__form.css');
@import url('./__span-accent/footer__span-accent.css');
@import url('./__subscribe/footer__subscribe.css');
@import url('./__subtitle/footer__subtitle.css');
@import url('./__title/footer__title.css');


.footer {
    max-width: 84.58%;
    margin: 0 auto 0 45px;
    padding: 169px 0 117px;
  }


  @media screen and (max-width: 443px) {
      .footer {
          margin-right: 0;
          margin-left: 0;
      }
  }