@import url(./__content/create__content.css);
@import url(./__title/create__title.css);
@import url(./__subtitle/create__subtitle.css);
@import url(./__link/create__link.css);
@import url(./__text/create__text.css);
@import url(./__image/create__image.css);
.create{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 59px 100px 92px;
}
@media screen and (max-width: 950px) {
    .create {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 424px) {
    .create {
      margin-left: 50px;
      margin-right: 50px;
    }
  } 